<%= render 'includes/carousel', images: @collection.images %>

<div class="row">
  <div class="col-sm-5">
    <%= render 'collections/partials/collection' %>
  </div>

  <div class="col-sm-7">
    <div class="container pe-5">
      <%= render 'collections/partials/plates' %>
      <%= render 'collections/partials/invoice_forms' %>
    </div>
  </div>
</div>
