  <footer class="footer">
    <div class="find-us">
      <p class="mb-0">© 2024 Your Company. All rights reserved.</p>
    </div>
    <div class="d-flex align-items-center d-none d-lg-block">
      <div class="me-2">
        <%= instagram_link 'Instagram' %>
      </div>
      <div>
        <%= facebook_link 'Facebook' %>
      </div>
    </div>
  </footer>