<div class="col-sm-3 mb-3">
  <div class="card card-collection">
    <%= image_tag(plate.image.file_url, class: "d-block w-100p card-img-top" ) %>
    <div class="card-body">
      <h3 class="card-title"><%= plate.title %></h3>
    </div>
  </div>
</div>
